{% if payment_error %}
<div class="pm-inline-alert pm-inline-alert--error">{{ payment_error }}</div>
{% endif %}
{% if account_error %}
<div class="pm-inline-alert pm-inline-alert--error">{{ account_error }}</div>
{% endif %}
{% if payment_status %}
<div class="pm-inline-alert">Оплата принята. Статус обновится после подтверждения платежа.</div>
{% endif %}
{% if account_notice %}
<div class="pm-inline-alert">{{ account_notice }}</div>
{% endif %}
{% if avatar_error %}
<div class="pm-inline-alert pm-inline-alert--error">{{ avatar_error }}</div>
{% endif %}
{% if avatar_status %}
<div class="pm-inline-alert">Фото профиля обновлено.</div>
{% endif %}
